<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <h2>Pomoc so systémom Budzogáň</h2>
    <ul class="list-unstyled">
      <li class="well">
        <h4 class="section-heading">Najprv si vygeneruj úlohy...</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/generate_first.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Potom si vyber jednu z nich, ktorú ideš riešiť.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/select_sentence.jpg' %>" alt=""/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Do strednej časti je potrebné urobiť rozbor vety.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/empty_canvas.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Jednoduchým potiahnutím do stredu si najprv vytvor krabičku pre vetný člen.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/drag_element.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Potom do nej potiahni príslušné slovo...</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/drag_word.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">...alebo aj druhé slovo :)</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/second_word.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Po kliknutí na vetný člen môžeš zmeniť jeho vlastnosti - nastav ich najlepšie ako
          vieš.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/change_properties.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Ak si sa pomýlil, môžeš zmazať slovo...</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/delete_word.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">..alebo aj celú krabičku s vetným členom.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/delete_element.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Medzi jednotlivými slovami urči vzťahy - vetné sklady. Tie zas jednoducho potiahni zo
          spodného panelu a pusti na niektorý vetný člen.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/relations.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Potom ho ešte spoj s druhým vetným členom.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/connect_element.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Keď sa chceš vrátiť na zoznam úloh, klikni sem - doterajšia práca sa ti uloží a môžeš sa
          k nej potom vrátiť.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/back.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Ak si vetu vyriešil najlepšie ako si vedel, klikni sem - označí sa ako vyriešená.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/hand_in.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">V zozname viet vidíš tie, ktoré si označil ako vyriešené (zelená), tie, ktoré máš rozpracované (oranžová) a i
          tie, ktoré si ešte nezačal riešiť (biela). Rozlíšiš to podľa tohto indikátora.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/diff_tasks_states.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Môžeš sa ku ktorejkoľvek vete vrátiť a vylepšiť svoje riešenie.</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/select_sentence.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
      <li class="well">
        <h4 class="section-heading">Ak máš ešte po vyriešení úloh chuť pomôcť, vygeneruj si ďalšie úlohy :)</h4>
        <img class="img-responsive" src="<%= asset_path 'screenshots/more.jpg' %>" alt="missing"/>
      </li>
      <hr class="help-divider"/>
    </ul>

    <div class="col-md-offset-5 col-md-2">
      <%= link_to 'Späť na úlohy.', tasks_path, class: 'btn btn-lg btn-primary back-button' %>
    </div>
  </div>
</div>
