<div id="edit-task" class="row task-header">
  <div class="col-md-2">
    <div class="row btn-stacked">
      <%= link_to 'Zoznam úloh', tasks_path, class: 'btn btn-lg btn-block btn-primary', id: 'back' %>
    </div>
    <div class="row btn-stacked">
      <%= button_to 'Odovzdať', tasks_path, id: 'submit-task', class: 'btn btn-lg btn-block btn-success' %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="well">
      <p class="text-muted">Veta na rozbor:</p>
      <p class="analyzed-sentence">
        <% @sentence.each_with_index do |word, index| %>
          <% if @used_words.include? word %>
            <span class="text-draggable disabled" id="text-<%= index %>"><%= word %></span>
          <% else %>
            <span class="text-draggable" id="text-<%= index %>"><%= word %></span>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="well itemized" id="boxes">
      <h4>Vetné členy</h4>
    </div>
    <div class="well itemized" id="lines">
      <h4>Vetné sklady</h4>
      <small>Prisudzovací</small>
      <div class="line-draggable">
        <span id="assignative"></span>
      </div>
      <hr/>
      <small>Priraďovací</small>
      <div class="line-draggable">
        <span id="predicative"></span>
      </div>
      <hr/>
      <small>Určovací</small>
      <div class="line-draggable">
        <span id="determinative"></span>
      </div>
    </div>
  </div>

  <div class="col-md-8 myContainer" id="paper" data-value="<%= @task.student_solution.to_json %>">
  </div>

  <div class="col-md-2 well" id="properties">
    <%= render 'properties' %>
  </div>
</div>
