<div class="row task-header">
  <div class="col-md-2">
    <%= link_to 'Naspäť', :back, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
  <div class="col-md-10">
    <div class="well">
      <p class="text-muted">Veta na rozbor:</p>
      <p class="analyzed-sentence">
        <% @sentence.each_with_index do |word, index| %>
          <% if @used_words.include? word %>
            <span class="text-draggable disabled" id="text-<%= index %>"><%= word %></span>
          <% else %>
            <span class="text-draggable" id="text-<%= index %>"><%= word %></span>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="well itemized" id="boxes">
      <h4>Vetné členy</h4>
    </div>
    <div class="well itemized" id="lines">
      <h4>Vetné sklady</h4>
      <small>Prisudzovací</small>
      <div class="line-draggable">
        <span id="assignative"></span>
      </div>
      <hr/>
      <small>Priraďovací</small>
      <div class="line-draggable">
        <span id="predicative"></span>
      </div>
      <hr/>
      <small>Podraďovací</small>
      <div class="line-draggable">
        <span id="determinative"></span>
      </div>
    </div>
  </div>

  <div class="col-md-8 myContainer" id="paper" data-value="<%= @task.student_solution.to_json %>">
  </div>

  <div class="col-md-2 well" id="properties">
    <%= render 'properties' %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-11 col-md-1">
    <%= button_to "Uložiť", { controller: :tasks, action: :update }, method: :patch, id: 'save', class: 'btn btn-default btn-lg', remote: true %>
  </div>
  <div id="item-properties">
    <%= render 'box_details' %>
  </div>
  <div id="connection-properties">
    <%= render 'connection_details' %>
  </div>
</div>
