<%= form_for @exercise do |f| %>
    <div class="form-group">
      <%= f.label 'Vyberte typ cvičenia' %>
      <%= f.select(:template_id, @exercise_types) %>
    </div>

    <div class="form-group">
      <%= f.label 'Znenie úlohy' %>
      <%= f.text_area :description %>
    </div>

    <button type="submit">Ďalej</button>
<% end %>